<div class="jumbotron">
	<h1><i class="fa fa-check-circle-o"></i> Trelly</h1>
	<p>Stay organized and keep track of what you are have to do, what you are doing right now and what is already done.</p>
	<p>The smart way.</p>
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>